source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget coverlet.collector
nuget coverlet.msbuild
nuget crayon
nuget Discord.Net
nuget FluentAssertions
nuget FsCheck.Xunit
nuget McMaster.Extensions.CommandLineUtils
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Http
nuget Microsoft.Extensions.Http.Polly
nuget Microsoft.NET.Test.Sdk
nuget MongoDB.Driver
nuget NSubstitute
nuget System.Net.Http
nuget System.Runtime.Caching
nuget Tk.Extensions
nuget xunit
nuget xunit.runner.visualstudio 